# MQTT (esimerkki)
MQTT_HOST=automaatio.cloud.shiftr.io
MQTT_PORT=1883
MQTT_USER=automaatio
MQTT_PASS=CHANGEME
MQTT_TOPIC=aiotgarage/+/+/presence

# MongoDB Atlas
MONGO_URI=mongodb+srv://USER:PASS@cluster0.XXXX.mongodb.net/?retryWrites=true&w=majority
MONGO_DB=data_ml
MONGO_COLLECTION=p_count

# Model path (optional)
MODEL_PATH=models/lgbm_5min.pkl
